/* ******* Página 2 - Home ********* */

body{
    background-color: #F9F9F9;
    font-family: 'Montserrat', sans-serif;
}

.centralizar{
    width: 80%;
    margin: 0 auto;
    height: inherit;
}

ul{
    padding: 0;
    margin: 0;
}

/* Topo */

.topo{
    background-color: #262626;
    height: 55px;
}

.topo nav ul li{
    display: inline-block;
}

.topo img{
    transform: translate(-50%);
}

.topo ul li{
    display: inline-block;
    text-transform: uppercase;
    padding: 15px;
}

.topo ul li:hover{
    background-color: #404040;
}

.topo a{
    color: #F0EFEF;
    text-decoration: none;
    font-size: 14px;
}

.topo a:hover{
    color: #dadada;
    text-decoration: none;
}

.topo a i{
    padding-right: 10px;
    font-size: 22px;
}

/* ***** */

/* Air Fryer */

.airfryer{
    background-color: #FCFBFB;
    margin-top: 40px;
    margin-bottom: 50px;
}

.airfryer h1{
    font-size: 32px;
}

.airfryer img{
    float:left;
}

.info{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.info1{
    /* float: left; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
    width: 50%;
}

.info1 p, .info2 p{
    margin: 0;
}

.nomesecao{
    text-transform: uppercase;
    font-weight: 600;
    color: #bbb;
}

.precoant{
    font-size: 26px;
    text-decoration: line-through;
    font-weight: bold;
    color: #bbb;
}

.precoatual{
    font-size: 36px;
    font-weight: bold;
    color: #F24B4B;
    padding-bottom: 5px;
    display: flex;
}

.botaoestoque{
    border-radius: 1.5em;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 25px;
    background-color: black;
    color: white;
    border: none;
}

.botaopromocao{
    border-radius: .5em;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 90px;
    background-color: #51C07A;
    color: white;
    border: none;
}

.info2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.redessociais{
    border: none;
    padding: 12px 20px;
    font-size: 22px;
    border-radius: .3em;
    color: white;
}

.globo{
    background-color: #3E98AE;
}

.facebook{
    background-color:#4642A5;
}

.whats{
    background-color: #42A577;
}

/* Descrição do Produto */
.descricao p:nth-of-type(1){
    margin-top: 40px;
}
.descricao p, .descricao span{
    font-size: 18px;
}

.descricao h2{
    font-size: 20px;
    display: inline;
}


/* ****** */

.btnsecao{
    background-color: #272727;
    padding: 18px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: .5em;
}

/* Produtos */
.produto{
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: .4em;
}

.produto figure{
    margin: 0;
}

.produto figcaption h5{
    margin: 0 0 10px 0;
    color: #BBBBBB;
}

.produto figcaption{
    padding: 15px 10px;
}

.produto footer span a{
    font-size: 12px;
    font-weight: bold;
    width: 50%;
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: center;
    text-decoration: none;
}

.produto footer span .promo{
    background-color:#F24B4B;
    color: white;
}

.produto footer span .detalhes{
    background-color:#EAEAEA;
    color: black;
}

/* Cupons */

.cupom{
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: .4em;
    background-color: white;
}

.cupom figure{
    margin: 0;
}

.cupom figure figcaption{
    padding: 16px;
}

.cupom figure figcaption h5{
    margin: 0 0 10px 0;
    color: #BBBBBB;
}

.cupom footer a{
    padding: 10px;
    display: block;
    background-color: #51C07A;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.tamanhoimg{
    height: 124px;
}

/* **** */

.tnonline{
    background-color: white;
    height: 150px;
}

.tnonline ul li{
    display: inline-block;
    margin-right: 10px;
}

.tnonline ul li a{
    text-decoration: none;
    color: #E61F22;
    font-weight: bold;
    text-transform: uppercase;
}

.tnonline ul li a i{
    margin-right: 10px;
    font-size: 22px;
}

.tnonline .row{
    height: inherit;
}

.logo{
    text-align: center
}

/*  */

.barranav{
    background-color: #E61F22;
    height: 45px;
}

.barranav ul li{
    display: inline-block;
}

.barranav .row{
    height: inherit;
}

.divbarranav{
    position: relative;
    height: inherit;
}

.divbarranav ul li{
    display: inline-block;
    line-height: 45px;
    margin-right: 20px;
}

.divbarranav nav{
    position: absolute;
    left: 0;
}

.apis{
    position: absolute;
    right: 0;
}

.divbarranav a, .apis{
    color: #F0EFEF;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

.divbarranav a:hover{
    color: #dadada;
    text-decoration: none;
}

.apis li i{
    font-size: 22px;
    margin: 0 10px;
}

.apis ul{
    display: flex;
    align-items: center;
}

.apis{
    display: flex;
}

.apis li:nth-child(2), .apis li:nth-child(3){
    display: flex;
    align-items: center;
}

/*  */

.maislidas{
    background-color: #F9F9F9;
    height: 97px;
}

.maislidas article ul li{
    display: inline-block;
}

.maislidas .row{
    height: inherit;
}

.divmaislidas{
    position: relative;
    height: inherit;
    padding: 10px 0px;
    box-sizing: border-box;
}

.vertodos{
    position: absolute;
    left: 0%;
    padding: 15px 40px 15px 0px;
    border-right: 2px solid #E0E0E0;
}

.vertodos p{
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.vertodos button{
    padding: 0px 40px;
    border: 1px solid #AAB0BA;
    border-radius: .3em;
    background-color: inherit;
    color: #AAB0BA;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

article ul{
    display: flex;
    padding-left: 15%;
}

article ul li{
    list-style-type: none;
    font-size: 13px;
    padding: 5px 10px;
}

/*  */

.vitrine{
    background-color: #F24B4B;
    height: 84px;
}

.divvitrine{
    position: relative;
    height: inherit;
}

nav .home{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

nav .logovitrine{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav .menu{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
}

nav .home a, nav .menu a{
    font-size: 26px;
    color: white;
}

/* ----- */

.rodape{
    background-color: #222222;
    margin-top: 80px;
}

.rodape .siga{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 0px;
    border-bottom: 1px solid #808080;
}

.rodape .siga ul, .rodape .siga ul li{
    display: inline-block;
}

.rodape .siga ul li a{
    margin: 0px 5px;
    color: white;
}

.divrodape{
    padding: 40px 0px;
    margin: 0;
    color: white;
}

.divrodape h6{
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 15px;
}

.divrodape ul{
    font-size: 12px;
    list-style: none;
}

.divrodape ul li+li{
    margin-top: 10px;
}

.divrodape div:last-child{
    border-left: 1px solid #808080;
    box-sizing: border-box;
    padding: 50px 70px 50px 50px;
    font-size: 12px;
}