body{
    background-color: #F9F9F9;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

.centralizar{
    width: 80%;
    margin: 0 auto;
}

ul{
    text-align: right;
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline-block;
    margin-left: 15px;
}

nav ul li a{
    font-size: 12px;
    color: black;
    text-decoration: none;
}

nav ul li a i{
    color: #F24B4B;
    font-size: 14px;
    margin-left: 5px;
}

nav ul li a button{
    font-size: 12px;
    background-color: #F24B4B;
    border: none;
    border-radius: .8em;
    padding: .3em 1.4em;
    color: white;
}

/*  */

.anuncios{
    width: 73%;
    margin: 30px auto;
}

.borda{
    border: 1px solid black;
}

/*  */

.btnproduto{
    background-color: #272727;
    padding: 18px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: .5em;
}